version: "3.9"

services:

  opendut_dev:
    build:
      context: ../../..
      dockerfile: ./.ci/docker/dev/Dockerfile
      args:
        - PUID=$PUID
        - PGID=$PGID
        - PUSER=$PUSER
        - PGROUP=$PGROUP
        - DOCKER_GID=$DOCKER_GID
        - OPENDUT_REPO_ROOT=$OPENDUT_REPO_ROOT
    environment:
      - PUID
      - PGID
      - PUSER
      - PGROUP
      - DOCKER_GID
      - OPENDUT_REPO_ROOT
      # CARL
      - OPENDUT_CARL_NETWORK_REMOTE_HOST=carl
      - OPENDUT_CARL_NETWORK_REMOTE_PORT=443
      - OPENDUT_CARL_NETWORK_BIND_PORT=443
      - OPENDUT_CARL_VPN_ENABLED=true
      - OPENDUT_CARL_VPN_KIND=netbird
      - OPENDUT_CARL_VPN_NETBIRD_URL=http://netbird-management/api
      - OPENDUT_CARL_VPN_NETBIRD_CA=/etc/opendut-network/tls/ca.pem
      - OPENDUT_CARL_VPN_NETBIRD_HTTPS_ONLY=false
      - OPENDUT_CARL_VPN_NETBIRD_AUTH_SECRET=$NETBIRD_API_TOKEN
      - OPENDUT_CARL_VPN_NETBIRD_AUTH_TYPE=personal-access-token

      # cleo
      - OPENDUT_CLEO_NETWORK_CARL_HOST=carl
      - OPENDUT_CLEO_NETWORK_CARL_PORT=443
      - OPENDUT_CLEO_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl  # default developer certificate is only valid for localhost
      # CA/hosts
      - OPENDUT_CUSTOM_CA1
      - OPENDUT_CUSTOM_CA2
      - OPENDUT_HOSTS
      # Rust backtrace
      - RUST_BACKTRACE=1

    command: sleep infinity
    user: $DOCKER_USER # ${UID}:${GID}
    volumes:
      - ../../../:$OPENDUT_REPO_ROOT
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - "../../../resources/development/tls/insecure-development-ca.pem:/etc/opendut-network/tls/ca.pem"

      - $HOME/opendut_dev/:/opendut_dev/
      - $HOME/.cargo/:/home/$PUSER/.cargo/
      - $HOME/.rustup/:/home/$PUSER/.rustup/

    networks:
      - opendutnet

networks:
  opendutnet:
    name: opendut_network
    external: true  # Use a pre-existing network
