[package]
name = "opendut-util"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
default = ["settings"]
serde = ["dep:serde"]
settings = ["dep:config", "dep:home"]

[dependencies]
anyhow = { workspace = true }
config = { workspace = true, optional = true }
home = { workspace = true, optional = true }
log = { workspace = true }
serde = { workspace = true, optional = true }
thiserror = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
env_logger = { workspace = true }


[build-dependencies]
shadow-rs = { workspace = true }
