# CARL configuration environment variables for development.
[network]
bind.host = "0.0.0.0"
bind.port = 8080
remote.host = "carl.opendut.local"
remote.port = 443

[network.tls]
certificate = ".ci/deploy/localenv/data/secrets/pki/deploy/carl.opendut.local.pem"
key = ".ci/deploy/localenv/data/secrets/pki/deploy/carl.opendut.local.key"
ca = ".ci/deploy/localenv/data/secrets/pki/opendut-ca.pem"

[network.oidc]
enabled = true

[network.oidc.client]
id = "opendut-carl-client"
secret = "{localenv_devmode_carl_client_secret}"
issuer.url = "https://auth.opendut.local/realms/opendut/"
issuer.admin.url = "https://auth.opendut.local/admin/realms/opendut/"
issuer.remote.url = "https://auth.opendut.local/realms/opendut/"
scopes = ""

[network.oidc.lea]
client.id = "opendut-lea-client"
issuer.url = "https://auth.opendut.local/realms/opendut/"
scopes = "openid,profile,email"

[persistence]
enabled = true

[persistence.database]
file = "~/.config/opendut/carl/carl.db"

[serve]
ui.directory = "./opendut-lea/dist/"

[vpn]
enabled = true
kind = "netbird"

[vpn.netbird]
url = "https://netbird-api.opendut.local/api"
ca = ".ci/deploy/localenv/data/secrets/pki/opendut-ca.pem"
auth.type = "oauth-create-api-token"
auth.secret = ""

[opentelemetry]
enabled = true
collector.endpoint = "https://opentelemetry.opendut.local"
