# ignore large files and directories that are not needed in the Docker image
# this reduces docker build context size and reduces build times
/.git
/.gitignore

# ignore all files in target directories
/target/*
# except for ci distribution artifacts, see https://docs.docker.com/build/concepts/context/#negating-matches
!/target/ci/distribution/

# logs
/docker-logs*
