[workspace]
members = [
    "opendut-carl",
    "opendut-carl/opendut-carl-api",
    "opendut-cleo",
    "opendut-edgar",
    "opendut-edgar/netbird-client-api",
    "opendut-edgar/opendut-edgar-kernel-modules",
    "opendut-lea",
    "opendut-types",
    "opendut-util",
    "opendut-vpn",
    "opendut-vpn/opendut-vpn-netbird",
    ".ci/xtask",
    ".ci/docker/theo",
    "tests",
]
resolver = "2"

[workspace.package]
edition = "2021"
rust-version = "1.76"
license = "Apache-2.0"

[workspace.dependencies]
opendut-carl = { path = "opendut-carl" }
opendut-carl-api = { path = "opendut-carl/opendut-carl-api" }
opendut-ci = { path = ".ci/xtask" }
opendut-edgar = { path = "opendut-edgar" }
opendut-netbird-client-api = { path = "opendut-edgar/netbird-client-api" }
opendut-edgar-kernel-modules = { path = "opendut-edgar/opendut-edgar-kernel-modules" }
opendut-vpn-netbird = { path = "opendut-vpn/opendut-vpn-netbird" }
opendut-types = { path = "opendut-types" }
opendut-theo = { path = ".ci/docker/theo" }
opendut-util = { path = "opendut-util" }
opendut-vpn = { path = "opendut-vpn" }

anyhow = "1.0.79"
assert_fs = "1.1.1"
async-trait = "0.1.77"
axum = "0.6.20"
axum-server = "0.5.1"
axum-server-dual-protocol = "0.5.2"
base64 = "0.21.7"
brotli = "3.4.0"
cargo_metadata = "0.18.1"
cargo_toml = "0.18.0"
cfg-if = "1.0.0"
chrono = { version = "0.4.35", default-features = false }
clap = "4.4.18"
cli-table = "0.4"
config = { version = "0.14.0", default-features = false, features = ["toml"] }
console = "0.15.8"
console_error_panic_hook = "0.1.7"
ctrlc = "3.4.2"
digest = "0.10.7"
dotenvy = "0.15.7"
env_logger = "0.10.0"
flate2 = "1.0.27"
fs_extra = "1.3.0"
futures = "0.3.30"
glob = "0.3.1"
gloo-net = { version = "0.5.0" }
gloo-timers = { version = "0.3.0" }
googletest = { version = "0.11.0" }
home = "0.5.5"
http = "0.2.11"
indicatif = "0.17.7"
indoc = "2.0.4"
itertools = "0.12.1"
jsonwebtoken = "9.2.0"
lazy_static = "1.4.0"
leptos = { version = "0.6.9" }
leptos_oidc = { version = "0.4.1" }
leptos_router = { version = "0.6.9" }
leptos-use = { version = "0.10.5" }
log = "0.4.20"
mockall = "0.12.1"
netlink-packet-route = "0.19.0"
netlink-packet-utils = "0.5.2"
nix = "0.27.1"
oauth2 = { version = "4.4.2", default-features = false }
openidconnect = { version = "3.5.0", default-features = false }
opentelemetry = "0.22.0"
opentelemetry-appender-tracing = "0.3.0"
opentelemetry-otlp = "0.15.0"
opentelemetry_sdk = "0.22.0"
opentelemetry-semantic-conventions = "0.14.0"
pem = {version = "3.0.3", features = ["serde"]}
phf = { version = "0.11", features = ["macros"] }
predicates = "3.0.4"
prost = "0.12.1"
prost-build = "0.12.1"
prost-types = "0.12.1"
protobuf-src = "1.1.0"
regex = "1.10.2"
reqwest = { version = "0.11.23", default-features = false, features = ["rustls-tls-native-roots"] }
reqwest-middleware = "0.2.4"
reqwest-retry = "0.3.0"
rstest = "0.18.2"
rtnetlink = "0.14.1"
serde = { version = "1.0.195", default-features = false }
serde_json = "1.0.111"
serde-spdx = "0.8.4"
shadow-rs = { version = "0.26.1", default-features = false }
sha1 = "0.10.6"
sha2 = "0.10.8"
slotmap = { version = "1.0.7" }
strum = "0.25.0"
sudo = "0.6.0"
tar = "0.4.40"
task-local-extensions = "0.1.4"
time = "0.3.31"
thiserror = "1.0.56"
tokio = { version = "1.35.1", default-features = false }
tokio-stream = { version = "0.1.14", default-features = false }
toml_edit = "0.21.0"
tonic = { version = "0.11.0", default-features = false }
tonic-build = { version = "0.11.0", default-features = false }
tonic-web = "0.11.0"
tonic-web-wasm-client = { version = "0.5.1" }
tower = "0.4.13"
tower-http = { version = "0.4.4", features = ["cors", "fs"] }
tracing = { version = "0.1.40" }
tracing-opentelemetry = "0.23.0"
tracing-subscriber = { version = "0.3.18", default-features = false }
tracing-web = { version = "0.1.3" }
url = "2.5.0"
uuid = "1.6.1"
walkdir = "2.4.0"
which = "6.0.0"

[workspace.metadata.ci]
netbird.version = "0.23.9-8de14ad"
netbird-signal.version="0.25.0"       # docker container version for netbirdio/signal: NETBIRD_SIGNAL_VERSION
netbird-management.version="0.25.0"   # docker container version for netbirdio/management:  NETBIRD_MANAGEMENT_VERSION
netbird-dashboard.version="v1.17.12"  # docker container version for wiretrustee/dashboard: NETBIRD_DASHBOARD_VERSION

[workspace.metadata.ci.xtask] #CLI tool crates used in CI (not libraries)
cargo-deny.version = "0.14.11"
cargo-sbom.version = "0.8.4"
cargo-bundle-licenses.version = "1.3.0"
cross.version = "0.2.5"
mdbook.version = "0.4.36"
mdbook-plantuml.version = "0.8.0"
trunk.version = "0.18.3"

[workspace.lints.clippy]
unnecessary_lazy_evaluations = "allow"
