- name: Create download dir for proxy server
  file:
    state: directory
    dest: "{{ ansible_proxy_server_controller_proxy_dir }}"

- name: Download proxy server onto Ansible Controller
  unarchive:
    src: "https://github.com/genotrance/px/releases/download/{{ ansible_proxy_server_pxproxy_version }}/px-{{ ansible_proxy_server_pxproxy_version }}-{{ ansible_proxy_server_pxproxy_target }}.tar.gz"
    remote_src: true
    dest: "{{ ansible_proxy_server_controller_proxy_dir }}"
    creates: "{{ ansible_proxy_server_controller_proxy_executable }}"


- name: Template px-proxy configuration
  template:
    src: "{{ role_path }}/templates/px-proxy.ini.j2"
    dest: "{{ ansible_proxy_server_controller_pxproxy_config_file }}"

- name: Run px-proxy
  shell: "{{ ansible_proxy_server_controller_proxy_executable }} --config={{ ansible_proxy_server_controller_pxproxy_config_file }} &"


- name: Detect proxy server IP
  shell: "ip -json address show | jq -r .[].addr_info[].local | grep 10.42.0."
  register: _ansible_proxy_server_ip
  ignore_errors: true

- name: Assert detection succeeded
  assert:
    that: _ansible_proxy_server_ip.rc == 0
    msg: “Error while detecting proxy server IP. Make sure you're connected to the hotspot of the Raspberry Pi.”

- name: Set ansible_proxy_server_ip fact
  set_fact:
    ansible_proxy_server_ip: "{{ _ansible_proxy_server_ip.stdout }}"

- name: Set ansible_proxy_server_env fact
  set_fact:
    ansible_proxy_server_env: "http://{{ ansible_proxy_server_ip }}:{{ ansible_proxy_server_port }}/"
