# For details, see: https://embarkstudios.github.io/cargo-deny/checks/index.html

[graph]
all-features = true

[advisories]
yanked = "warn"
ignore = [
    { id = "RUSTSEC-2023-0071", reason = "ignore until https://github.com/RustCrypto/RSA/issues/19 is resolved, tracked by issue #144" },

    { id = "RUSTSEC-2024-0436", reason = "`paste` library is unmaintained. No actual vulnerability known. Several of our dependencies currently use `paste`. Tracked by issue #336." },


    { id = "RUSTSEC-2024-0375", reason = "`atty` library is unmaintained. A known vulnerability only affects Windows. Tracked by issue #410." },
    { id = "RUSTSEC-2021-0145", reason = "`atty` library is vulnerable on Windows. Tracked by issue #410." },

    { id = "RUSTSEC-2025-0081", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0075", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0080", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0090", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0083", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0094", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0100", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },
    { id = "RUSTSEC-2025-0098", reason = "`unic-*` crates are unmaintained. Tracked by issue #411." },

    { id = "RUSTSEC-2025-0134", reason = "`rustls-pemfile` library is unmaintained. No actual vulnerability known and the advisory says that it is just a thin wrapper at this point. Is depended on by the `axum-server` library in version 0.7.x, which is what we're currently pinned to by axum-server-dual-protocol v0.7.0. Tracked by issue #426." },
]

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "bzip2-1.0.6",
    "CC0-1.0",
    "ISC",
    "MIT",
    "MIT-0",
    # "MPL-2.0",  # Banned for now, as it adds complications for how openDuT can be used (e.g. Apache-2.0 allows proprietary forks, MPL-2.0 does not). See this discussion for more nuance: https://github.com/eclipse-zenoh/zenoh/issues/765
    "Python-2.0.1",
    "OpenSSL",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Zlib",

    "LGPL-3.0", # Pulled in by RustPython, but incompatible with Apache-2.0. See: https://github.com/eclipse-opendut/opendut/issues/408
]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[bans]
multiple-versions = "allow"
