{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:$TURN_DOMAIN:$TURN_PORT",
      "Username": "",
      "Password": ""
    }
  ],
  "TURNConfig": {
    "Turns": [
      {
        "Proto": "udp",
        "URI": "turn:$TURN_DOMAIN:$TURN_PORT",
        "Username": "$TURN_USER",
        "Password": "$TURN_PASSWORD"
      }
    ],
    "CredentialsTTL": "12h",
    "Secret": "secret",
    "TimeBasedCredentials": false
  },
  "Relay": {
    "Addresses": ["$NETBIRD_RELAY_ENDPOINT"],
    "CredentialsTTL": "24h",
    "Secret": "$NETBIRD_RELAY_AUTH_SECRET"
  },
  "Signal": {
    "Proto": "$NETBIRD_SIGNAL_PROTOCOL",
    "URI": "$NETBIRD_SIGNAL_DOMAIN:$NETBIRD_SIGNAL_PORT",
    "Username": "",
    "Password": null
  },
  "ReverseProxy": {
    "TrustedHTTPProxies": [],
    "TrustedHTTPProxiesCount": 0,
    "TrustedPeers": [
      "0.0.0.0/0"
    ]
  },
  "DisableDefaultPolicy": $NETBIRD_MGMT_DISABLE_DEFAULT_POLICY,
  "Datadir": "",
  "DataStoreEncryptionKey": "$NETBIRD_DATASTORE_ENC_KEY",
  "StoreConfig": {
    "Engine": "$NETBIRD_STORE_CONFIG_ENGINE"
  },
  "HttpConfig": {
    "Address": "0.0.0.0:$NETBIRD_MGMT_API_PORT",
    "AuthIssuer": "$NETBIRD_AUTH_AUTHORITY",
    "AuthAudience": "$NETBIRD_AUTH_AUDIENCE",
    "AuthKeysLocation": "$NETBIRD_AUTH_JWT_CERTS",
    "AuthUserIDClaim": "$NETBIRD_AUTH_USER_ID_CLAIM",
    "CertFile":"$NETBIRD_MGMT_API_CERT_FILE",
    "CertKey":"$NETBIRD_MGMT_API_CERT_KEY_FILE",
    "IdpSignKeyRefreshEnabled": $NETBIRD_MGMT_IDP_SIGNKEY_REFRESH,
    "OIDCConfigEndpoint":"$NETBIRD_AUTH_OIDC_CONFIGURATION_ENDPOINT"
  },
  "IdpManagerConfig": {
    "ManagerType": "$NETBIRD_MGMT_IDP",
    "ClientConfig": {
      "Issuer": "$NETBIRD_AUTH_AUTHORITY",
      "TokenEndpoint": "$NETBIRD_AUTH_TOKEN_ENDPOINT",
      "ClientID": "$NETBIRD_IDP_MGMT_CLIENT_ID",
      "ClientSecret": "$NETBIRD_IDP_MGMT_CLIENT_SECRET",
      "GrantType": "client_credentials"
    },
    "ExtraConfig": {
      "AdminEndpoint": "$KEYCLOAK_URL/admin/realms/netbird"
    },
    "Auth0ClientCredentials": null,
    "AzureClientCredentials": null,
    "KeycloakClientCredentials": null,
    "ZitadelClientCredentials": null
  },
  "DeviceAuthorizationFlow": {
    "Provider": "hosted",
    "ProviderConfig": {
      "ClientID": "$NETBIRD_MANAGEMENT_DEVICE_ID",
      "ClientSecret": "",
      "Domain": "$NETBIRD_ISSUER_DOMAIN",
      "Audience": "$NETBIRD_MANAGEMENT_DEVICE_ID",
      "TokenEndpoint": "$NETBIRD_ISSUER_URL/protocol/openid-connect/token",
      "DeviceAuthEndpoint": "$NETBIRD_ISSUER_URL/protocol/openid-connect/auth/device",
      "AuthorizationEndpoint": "",
      "Scope": "openid",
      "UseIDToken": false,
      "RedirectURLs": null
    }
  },
  "PKCEAuthorizationFlow": {
    "ProviderConfig": {
      "ClientID": "$NETBIRD_MANAGEMENT_DEVICE_ID",
      "ClientSecret": "",
      "Domain": "",
      "Audience": "$NETBIRD_MANAGEMENT_DEVICE_ID",
      "TokenEndpoint": "$NETBIRD_ISSUER_URL/protocol/openid-connect/token",
      "DeviceAuthEndpoint": "",
      "AuthorizationEndpoint": "$NETBIRD_ISSUER_URL/protocol/openid-connect/auth",
      "Scope": "openid profile email offline_access api",
      "UseIDToken": false,
      "RedirectURLs": [
        "http://localhost:53000"
      ]
    }
  }
}
