- name: Memorize SSH reverse tunnel command for killing it later
  set_fact:
    ssh_reverse_tunnel_command: "ssh -N -R {{ ansible_proxy_server_port }}:localhost:{{ ansible_proxy_server_port }} {{ ansible_user }}@{{ ansible_host }}"

- name: Setup Proxy Server
  import_tasks: setup_proxy_server.yaml
  delegate_to: localhost

- name: Start SSH tunnel
  shell: "{{ ssh_reverse_tunnel_command }} &"
  delegate_to: localhost


- name: Set ansible_proxy_server_env fact
  set_fact:
    ansible_proxy_server_env: "http://localhost:{{ ansible_proxy_server_port }}/"
