- name: Create download dir for proxy server
  file:
    state: directory
    dest: "{{ ansible_proxy_server_controller_dir }}"

- name: Register OS and arch mapping for px-proxy releases
  set_fact:
    pxproxy_arch_map:
      x86_64: "x86_64"
    pxproxy_os_map:
      "GNU/Linux": "linux-glibc"
      "Darwin": "mac"
    cacheable: true

- name: Determine Host OS
  command: "uname --operating-system"
  register: _operating_system
  changed_when: false

- name: Determine Host Arch
  command: "uname --machine"
  register: _cpu_arch
  changed_when: false

- name: Set ansible_proxy_pxproxy_target fact
  set_fact:
    ansible_proxy_pxproxy_target: "{{ pxproxy_os_map[_operating_system.stdout] }}-{{ pxproxy_arch_map[_cpu_arch.stdout] }}"

- name: Print effective ansible_proxy_pxproxy_target  # might be overridden via CLI, for example
  debug:
    var: ansible_proxy_pxproxy_target

- name: Download proxy server onto Ansible Controller
  unarchive:
    src: "https://github.com/genotrance/px/releases/download/{{ ansible_proxy_pxproxy_version }}/px-{{ ansible_proxy_pxproxy_version }}-{{ ansible_proxy_pxproxy_target }}.tar.gz"
    remote_src: true
    dest: "{{ ansible_proxy_server_controller_dir }}"
    creates: "{{ ansible_proxy_server_controller_executable }}"


- name: Set template text for forwarding proxy to localhost
  set_fact:
    ansible_proxy_server_forward_to_proxy_formatted: |
      # forward to proxy on localhost
      server = {{ ansible_proxy_server_forward_to_proxy }}
  when: ansible_proxy_server_forward_to_proxy != ""

- name: Template px-proxy configuration
  template:
    src: "{{ role_path }}/templates/px-proxy.ini.j2"
    dest: "{{ ansible_proxy_controller_pxproxy_config_file }}"

- name: Run px-proxy
  shell: "{{ ansible_proxy_server_controller_executable }} --config={{ ansible_proxy_controller_pxproxy_config_file }} &"
