# CARL configuration toml for development.
OPENDUT_CARL_NETWORK_BIND_HOST=0.0.0.0
OPENDUT_CARL_NETWORK_BIND_PORT=8080
OPENDUT_CARL_NETWORK_REMOTE_HOST=carl
OPENDUT_CARL_NETWORK_REMOTE_PORT=443

OPENDUT_CARL_NETWORK_TLS_CERTIFICATE=resources/development/tls/carl.pem
OPENDUT_CARL_NETWORK_TLS_KEY=resources/development/tls/carl.key
OPENDUT_CARL_NETWORK_TLS_CA=resources/development/tls/insecure-development-ca.pem

OPENDUT_CARL_NETWORK_OIDC_ENABLED=true
OPENDUT_CARL_NETWORK_OIDC_CLIENT_CLIENT_ID=opendut-carl-client
OPENDUT_CARL_NETWORK_OIDC_CLIENT_CLIENT_SECRET=6754d533-9442-4ee6-952a-97e332eca38e
OPENDUT_CARL_NETWORK_OIDC_CLIENT_ISSUER_URL=http://localhost:8081/realms/opendut/
OPENDUT_CARL_NETWORK_OIDC_CLIENT_ISSUER_REMOTE_URL=https://keycloak/realms/opendut/
OPENDUT_CARL_NETWORK_OIDC_CLIENT_SCOPES=""

OPENDUT_CARL_NETWORK_OIDC_LEA_CLIENT_ID=opendut-lea-client
OPENDUT_CARL_NETWORK_OIDC_LEA_ISSUER_URL=https://keycloak/realms/opendut/
OPENDUT_CARL_NETWORK_OIDC_LEA_SCOPES=openid,profile,email
OPENDUT_CARL_SERVE_UI_DIRECTORY=./opendut-lea/dist/

OPENDUT_CARL_VPN_ENABLED=true
OPENDUT_CARL_VPN_KIND=netbird
OPENDUT_CARL_VPN_NETBIRD_URL={netbird_management_url}
OPENDUT_CARL_VPN_NETBIRD_CA={netbird_management_ca_path}
OPENDUT_CARL_VPN_NETBIRD_AUTH_TYPE=personal-access-token
OPENDUT_CARL_VPN_NETBIRD_AUTH_SECRET={netbird_api_key}

OPENDUT_CARL_OPENTELEMETRY_ENABLED=true
OPENDUT_CARL_OPENTELEMETRY_ENDPOINT={opentelemetry_collector_url}
