# forwards to carl running in developer IDE

services:
  carl:
    image: docker.io/traefik:v3.5.3
    command:
      - --api.insecure=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      # Redirect to HTTPS
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
      - "--log.level=DEBUG"
      - "--accesslog"
      - "--entryPoints.ping.address=:8082"
      - "--ping=true"
      - "--ping.entryPoint=ping"

    volumes:
      - opendut_provision-secrets-data:/provision:ro
      - ../testenv/carl-on-host/traefik_config_vm/:/etc/traefik/dynamic/:ro
      # config directory used to store netbird api key
      - carl-config:/opt/opendut-carl/config/

    healthcheck:
      interval: 5s
      retries: 10
      test: wget --proxy off --no-verbose --tries=1 --spider http://localhost:8082/ping

    networks:
      - opendut_local

volumes:
  opendut_provision-secrets-data:
    external: true

networks:
  opendut_local:
    name: opendut_local
    external: true  # Use a pre-existing network
