version: "3.9"

services:

  keycloak:
    build:
      context: ../../..
      dockerfile: ./.ci/docker/keycloak/Dockerfile-keycloak-server
      args:
        KEYCLOAK_VERSION: 22.0.2

    # start-dev and hostname-strict=false are required to run keycloak in test environment; not acceptable for production
    # see https://www.keycloak.org/server/hostname for details
    command: [ "start-dev", "--http-port=80", "--https-port=443", "--https-certificate-file=/opt/keycloak/data/keycloak.pem", "--https-certificate-key-file=/opt/keycloak/data/keycloak.key",
               "--hostname-strict=false", "--hostname-debug=true" ]
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123456
      - KEYCLOAK_DB=dev-file
      #- KC_LOG_LEVEL=DEBUG  # debugging keycloak
    volumes:
      - opendut_keycloak_data:/opt/keycloak/data
      - "../../../resources/development/tls/insecure-development-ca.pem:/usr/share/ca-certificates/ca.pem:ro"
      - "../../../resources/development/tls/keycloak.pem:/opt/keycloak/data/keycloak.pem:ro"
      - "../../../resources/development/tls/keycloak.key:/opt/keycloak/data/keycloak.key:ro"
    healthcheck:
      test: ["CMD", "curl", "-f", "https://keycloak"]
      interval: 1m
      timeout: 10s
      retries: 10
      start_period: 90s

    networks:
      opendutnet:
        ipv4_address: 192.168.32.204
        aliases:
          - keycloak

  init_keycloak:
    build:
      context: ../../..
      dockerfile: ./.ci/docker/keycloak/Dockerfile-keycloak-provision
      args:
        KEYCLOAK_VERSION: 22.0.2
    # uncomment this to stop container after provisioning is done
    command: [ "sleep" ]
    # for fast update of provisioning the scripts are mounted as volumes
    volumes:
      - ./keycloak_functions.sh:/keycloak_functions.sh
      - ./provision.sh:/provision.sh
      # mount keycloak volume to store provisioning result in file
      - opendut_keycloak_data:/opt/keycloak/data
    environment:
      - KCADM_PATH=/opt/keycloak/bin/kcadm.sh
      - KEYCLOAK_URL=https://keycloak
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123456
      - REALM=netbird
    networks:
      opendutnet:

networks:
  opendutnet:
    name: opendut_network
    external: true  # Use a pre-existing network

volumes:
  opendut_keycloak_data:
