@import "theme";

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/brands.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/regular.scss";

$primary: #2a1e56;
$warning: #ff9500;
@import "bulma/bulma";

@import "doorhanger";
@import "profile-dropdown";
@import "nav-flyout";
@import "panel-ghost";
@import "toast";
@import "toggle";
@import "tooltip";
@import "health-light";
@import "util";

.dut-title {
  @extend .title;
  color: $text;
}

.dut-base-page {
  padding-top: 1.0rem;
  padding-bottom: 1.5rem;
}

.dut-base-page-header {
}

.dut-base-page-content {

}

.dut-base-page-title {
  @extend .title, .is-5;
  color: $text;
  margin-bottom: 0;
}

.dut-base-page-subtitle {
  @extend .subtitle, .is-4, .is-family-monospace, .pt-2;
}

.dut-base-page-subtitle:after {
  content: "\00a0";
}

.dut-hr-title {
  @extend .title;
  color: $text;
  display: flex;
  flex-direction: row;
}

.dut-hr-title:before, .dut-hr-title:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $text;
  margin: auto;
}

.dut-hr-title:before {
  margin-right: 10px
}

.dut-hr-title:after {
  margin-left: 10px
}
