.dut-navbar {
  @extend .navbar;
  position: sticky;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 95.5%, 0.9);
  height: 60px;
}

.dut-logo {
  max-height: 100%;
}

.dut-menu {
  display: none;
}

.dut-menu.is-active {
  @extend .menu, .card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: calc(100dvh - 60px);
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-radius: 0;
}

.dut-menu.is-active.is-left {
  left: 0;
}

.dut-menu.is-active.is-right {
  right: 0;
}

.dut-menu-list {
  @extend .menu-list;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dut-divider {
  @extend .dropdown-divider;
}