.dut-fullname-text {
  text-wrap: nowrap;
  font-weight: bold;
}

.dut-username-text {
  text-wrap: nowrap;
}

.dut-profile-information {
  text-wrap: nowrap;
  font-size: 0.85rem;
}

.dut-profile-picture-button {
  border-radius: 50%;
}

.dut-profile-picture-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
