.dut-toggle {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: $grey;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.dut-toggle .bubble {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
  font-size: 16px;
  color: white;
  transition: 0.3s;
}

.dut-toggle.active {
  background: $success;
}

.dut-toggle.active .bubble {
  left: 22px;
}

.dut-toggle.toggle-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
