$_0: 0;
$_1: 0.25rem;
$_2: 0.5rem;
$_3: 0.75rem;
$_4: 1.0rem;
$_5: 1.5rem;
$_6: 3.0rem;

.height-0 {
  height: 0;
}

.left--1 {
  left: -$_1;
}

.left--2 {
  left: -$_2;
}

.left--3 {
  left: -$_3;
}

.left--4 {
  left: -$_4;
}

.left--5 {
  left: -$_5;
}

.left--6 {
  left: -$_6;
}

.left-0 {
  left: -$_0;
}

.left-1 {
  left: $_1;
}

.left-2 {
  left: $_2;
}

.left-3 {
  left: $_3;
}

.left-4 {
  left: $_4;
}

.left-5 {
  left: $_5;
}

.left-6 {
  left: $_6;
}

.right--1 {
  right: -$_1;
}

.right--2 {
  right: -$_2;
}

.right--3 {
  right: -$_3;
}

.right--4 {
  right: -$_4;
}

.right--5 {
  right: -$_5;
}

.right--6 {
  right: -$_6;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: $_1;
}

.right-2 {
  right: $_2;
}

.right-3 {
  right: $_3;
}

.right-4 {
  right: $_4;
}

.right-5 {
  right: $_5;
}

.right-6 {
  right: $_6;
}
