- name: Check if provisioning is needed
  stat: path={{ repo_dir }}/.ci/deploy/localenv/data/secrets/.env
  register: provision_secrets_stat

- name: Provision
  block:
  - name: Provision secrets and initially create volumes
    command:
      cmd: "docker compose --file .ci/deploy/localenv/docker-compose.yml --env-file {{ opendut_compose_environment_path }} up --build provision-secrets"
      chdir: "{{ repo_dir }}"

  - name: Remove secrets directory
    file:
      path: "{{ repo_dir }}/.ci/deploy/localenv/data/secrets/"
      state: absent
    changed_when: false

  - name: Copy provisioned secrets to local env data directory
    command:
      cmd: "docker cp opendut-provision-secrets:/provision/ {{ repo_dir }}/.ci/deploy/localenv/data/secrets/"
      chdir: "{{ repo_dir }}"
    changed_when: false

  when: not provision_secrets_stat.stat.exists
