#!/usr/bin/env ansible-playbook
---
- name: playbook
  hosts: all
  vars:
  pre_tasks:
  - name: Host configuration /etc/hosts, certificate authority
    import_tasks: tasks/system.yml
    tags: "system"

  - name: Install required packages
    apt:
      # linux-generic is required for the 'vcan' kernel module
      # This meta package will install the linux-modules-extra-{{ ansible_kernel }} for the current kernel.
      # It will also install the proper modules on the next kernel update.
      pkg: ['htop', 'tmux', 'jq', 'libssl-dev', 'build-essential', 'pkg-config', 'clang', 'linux-generic']
      state: 'present'
      update_cache: yes
      cache_valid_time: 3600

  - name: Configure firefox profile for vagrant user
    import_tasks: tasks/firefox.yml
    tags: "firefox"

  - name: Persistently load the 'vcan' kernel module
    community.general.modprobe:
      name: vcan
      state: present
      persistent: present
  
  - name: Persistently load the 'can-gw' kernel module
    community.general.modprobe:
      name: can-gw
      state: present
      params: "max_hops=2"
      persistent: present
      
  roles:
  # https://github.com/geerlingguy/ansible-role-docker
  - {role: "geerlingguy.docker", docker_users: ["vagrant"], tags: ["docker"]}
  # https://github.com/hurricanehrndz/ansible-rustup/blob/master/defaults/main.yml
  - {role: "hurricanehrndz.rustup", rustup_user: "vagrant", rustup_default_version: "stable", tags: ["rustup"] }
  # see local role in: local_roles/ansible-role-kde-desktop
  - {role: "ansible-role-kde-desktop", tags: ["desktop"] }

  post_tasks:
    - name: Clone OpenDuT repository
      become: true
      become_user: vagrant
      git:
        repo: https://github.com/eclipse-opendut/opendut.git
        dest: /home/vagrant/opendut/
        version: development
        clone: yes
        update: yes
        force: yes
    - debug: msg="all done"
