version: "3.9"

services:

  carl:
    build:
      # use git root as build context
      context: ../../..
      dockerfile: ./.ci/docker/carl/Dockerfile
      args:
        - VERSION=$OPENDUT_CARL_VERSION
    image: "${OPENDUT_DOCKER_IMAGE_HOST}/${OPENDUT_DOCKER_IMAGE_NAMESPACE}/opendut-carl:${OPENDUT_CARL_VERSION}"
    command: ["/opt/opendut-carl/opendut-carl"]
    volumes:
      - "../../../resources/development/tls/insecure-development-ca.pem:/etc/opendut/tls/ca.pem"
      - "../../../resources/development/tls/carl.pem:/etc/opendut/tls/carl.pem"
      - "../../../resources/development/tls/carl.key:/etc/opendut/tls/carl.key"
      # to test toml config file: - "./config.toml:/etc/opendut/carl.toml"

    environment:
      - OPENDUT_CARL_NETWORK_TLS_CA=/etc/opendut/tls/ca.pem
      - OPENDUT_CARL_NETWORK_REMOTE_HOST=carl
      - OPENDUT_CARL_NETWORK_REMOTE_PORT=443
      - OPENDUT_CARL_NETWORK_BIND_PORT=443
      - OPENDUT_CARL_VPN_ENABLED=true
      - OPENDUT_CARL_VPN_KIND=netbird
      - OPENDUT_CARL_VPN_NETBIRD_URL=https://netbird-management/api
      - OPENDUT_CARL_VPN_NETBIRD_CA=/etc/opendut/tls/ca.pem
      - OPENDUT_CARL_VPN_NETBIRD_AUTH_SECRET=$NETBIRD_API_TOKEN
      - OPENDUT_CARL_VPN_NETBIRD_AUTH_TYPE=personal-access-token
      - OPENDUT_CARL_OPENTELEMETRY_ENABLED=true
      - OPENDUT_CARL_OPENTELEMETRY_ENDPOINT=http://otel-collector:4317
      # OIDC
      - OPENDUT_CARL_NETWORK_OIDC_ENABLED=true
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_CLIENT_ID=opendut-carl-client
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_CLIENT_SECRET=6754d533-9442-4ee6-952a-97e332eca38e
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_PEER_ID=opendut-edgar-client
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_PEER_SECRET=c7d6ace0-b90f-471a-bb62-a4ecac4150f8
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_ISSUER_URL=https://keycloak/realms/opendut/
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_ISSUER_REMOTE_URL=https://keycloak/realms/opendut/
      - OPENDUT_CARL_NETWORK_OIDC_CLIENT_SCOPES=

      - OPENDUT_CARL_NETWORK_OIDC_LEA_CLIENT_ID=opendut-lea-client
      - OPENDUT_CARL_NETWORK_OIDC_LEA_ISSUER_URL=https://keycloak/realms/opendut/
      - OPENDUT_CARL_NETWORK_OIDC_LEA_SCOPES=openid,profile,email

      # dynamically provided
      - OPENDUT_DOCKER_IMAGE_NAMESPACE
      - OPENDUT_DOCKER_IMAGE_HOST
      - OPENDUT_CARL_VERSION
      - NETBIRD_MANAGEMENT_API
      - OPENDUT_CUSTOM_CA1
      - OPENDUT_CUSTOM_CA2
      - OPENDUT_HOSTS
    # Rust backtrace
      - RUST_BACKTRACE=1
    healthcheck:
      test: ["CMD", "curl", "--cacert", "/etc/opendut/tls/ca.pem", "-f", "https://carl"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 40s

    networks:
      opendutnet:
        ipv4_address: 192.168.32.200

networks:
  opendutnet:
    name: opendut_network
    external: true  # Use a pre-existing network
