version: "3.9"

services:

  leader:
    container_name: edgar-leader  # defined DNS for the container
    build:
      context: ../../..
      dockerfile: ./.ci/docker/edgar/Dockerfile
    command: opendut-theo inside-edgar-container leader
    #command: sleep infinity
    volumes:
      - ../../../target/ci/distribution/x86_64-unknown-linux-gnu/:/opt/artifacts
      - "../../../resources/development/tls/insecure-development-ca.pem:/etc/opendut-network/tls/ca.pem"
      - "../../../target/debug/:/usr/local/opendut/bin/debug/"
    cap_add:
      - NET_ADMIN
    environment:
      # CLEO
      - OPENDUT_CLEO_NETWORK_CARL_HOST=carl
      - OPENDUT_CLEO_NETWORK_CARL_PORT=443
      - OPENDUT_CLEO_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl  # default developer certificate is only valid for localhost
      # EDGAR
      - OPENDUT_EDGAR_NETWORK_CARL_HOST=carl
      - OPENDUT_EDGAR_NETWORK_CARL_PORT=443
      - OPENDUT_EDGAR_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl  # default developer certificate is only valid for localhost
      # testenv
      - NETBIRD_GROUP=testenv  # only used by unmanaged mode
      - OPENDUT_EDGAR_REPLICAS
      - OPENDUT_EDGAR_SERVICE_USER=root
      - OPENDUT_EDGAR_CLUSTER_NAME
      # dynamically provided
      - NETBIRD_API_TOKEN  # only used by unmanaged mode
      - NETBIRD_MANAGEMENT_API=http://netbird-management
      - OPENDUT_CUSTOM_CA1
      - OPENDUT_CUSTOM_CA2
      - OPENDUT_HOSTS
      # Rust backtrace
      - RUST_BACKTRACE=1

    networks:
      - opendutnet

  peer:
    build:
      context: ../../..
      dockerfile: ./.ci/docker/edgar/Dockerfile
    command: opendut-theo inside-edgar-container member
    #command: sleep infinity
    volumes:
      - ../../../target/ci/distribution/x86_64-unknown-linux-gnu/:/opt/artifacts
      - "../../../resources/development/tls/insecure-development-ca.pem:/etc/opendut-network/tls/ca.pem"
      - "../../../target/debug/:/usr/local/opendut/bin/debug/"
    cap_add:
      - NET_ADMIN
    environment:
      # CLEO
      - OPENDUT_CLEO_NETWORK_CARL_HOST=carl
      - OPENDUT_CLEO_NETWORK_CARL_PORT=443
      - OPENDUT_CLEO_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl  # default developer certificate is only valid for localhost
      # EDGAR
      - OPENDUT_EDGAR_NETWORK_CARL_HOST=carl
      - OPENDUT_EDGAR_NETWORK_CARL_PORT=443
      - OPENDUT_EDGAR_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl  # default developer certificate is only valid for localhost
      # testenv
      - NETBIRD_GROUP=testenv  # only used by unmanaged mode
      - OPENDUT_EDGAR_REPLICAS
      - OPENDUT_EDGAR_SERVICE_USER=root
      - OPENDUT_EDGAR_CLUSTER_NAME
      # dynamically provided
      - NETBIRD_SETUP_KEY
      - NETBIRD_API_TOKEN  # only used by unmanaged mode
      - NETBIRD_MANAGEMENT_API=http://netbird-management
      - OPENDUT_CUSTOM_CA1
      - OPENDUT_CUSTOM_CA2
      - OPENDUT_HOSTS
      # Rust backtrace
      - RUST_BACKTRACE=1

    deploy:
      mode: replicated
      # edgar replica count (e.g. 3)
      replicas: ${OPENDUT_EDGAR_REPLICAS}
    networks:
      - opendutnet

networks:
  opendutnet:
    name: opendut_network
    external: true  # Use a pre-existing network
