version: "3.9"

services:

  leader:
    container_name: edgar-leader  # defined DNS for the container
    build:
      context: ../../..
      dockerfile: ./.ci/docker/edgar/Dockerfile
    command: /opt/managed.sh leader
    #command: sleep infinity
    volumes:
      - ../../../target/ci/distribution/x86_64-unknown-linux-gnu/:/opt/artifacts
      - "../../../.ci/deploy/localenv/data/secrets/pki/opendut-ca.pem:/etc/opendut/tls/ca.pem:ro"
      - "../../../.ci/deploy/localenv/data/secrets/pki/opendut-ca.pem:/usr/local/share/ca-certificates/opendut-ca.crt:ro"
      - "../../../target/debug/:/usr/local/opendut/bin/debug/"
    cap_add:
      - NET_ADMIN
    environment:
      # CLEO
      - OPENDUT_CLEO_NETWORK_CARL_HOST=carl.opendut.local
      - OPENDUT_CLEO_NETWORK_CARL_PORT=443
      - OPENDUT_CLEO_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl.opendut.local  # default developer certificate is only valid for localhost
      - OPENDUT_CLEO_NETWORK_OIDC_ENABLED=true
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_ID=opendut-cleo-client
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_ISSUER_URL=https://auth.opendut.local/realms/opendut/
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_SCOPES=

      # EDGAR
      - OPENDUT_EDGAR_NETWORK_CARL_HOST=carl.opendut.local
      - OPENDUT_EDGAR_NETWORK_CARL_PORT=443
      - OPENDUT_EDGAR_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl.opendut.local  # default developer certificate is only valid for localhost
      - OPENDUT_EDGAR_NETWORK_OIDC_ENABLED=true
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_ID=opendut-edgar-client
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_ISSUER_URL=https://auth.opendut.local/realms/opendut/
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_SCOPES=
      - OPENDUT_EDGAR_OPENTELEMETRY_ENABLED=true
      - OPENDUT_EDGAR_OPENTELEMETRY_COLLECTOR_ENDPOINT=http://otel-collector:4317

      # testenv
      - OPENDUT_EDGAR_REPLICAS
      - OPENDUT_EDGAR_SERVICE_USER=root
      # Rust backtrace
      - RUST_BACKTRACE=1

    networks:
      - opendut_local
    privileged: true 

  peer:
    build:
      context: ../../..
      dockerfile: ./.ci/docker/edgar/Dockerfile
    command: /opt/managed.sh
    #command: sleep infinity
    volumes:
      - ../../../target/ci/distribution/x86_64-unknown-linux-gnu/:/opt/artifacts:ro
      - "../../../resources/development/tls/insecure-development-ca.pem:/etc/opendut/tls/ca.pem:ro"
      - "../../../resources/development/tls/insecure-development-ca.pem:/usr/local/share/ca-certificates/opendut-ca.crt:ro"
      - "../../../target/debug/:/usr/local/opendut/bin/debug/:ro"
    cap_add:
      - NET_ADMIN
    environment:
      # CLEO
      - OPENDUT_CLEO_NETWORK_CARL_HOST=carl.opendut.local
      - OPENDUT_CLEO_NETWORK_CARL_PORT=443
      - OPENDUT_CLEO_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl.opendut.local  # default developer certificate is only valid for localhost
      - OPENDUT_CLEO_NETWORK_OIDC_ENABLED=true
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_ID=opendut-cleo-client
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_ISSUER_URL=https://auth.opendut.local/realms/opendut/
      - OPENDUT_CLEO_NETWORK_OIDC_CLIENT_SCOPES=

      # EDGAR
      - OPENDUT_EDGAR_NETWORK_CARL_HOST=carl.opendut.local
      - OPENDUT_EDGAR_NETWORK_CARL_PORT=443
      - OPENDUT_EDGAR_NETWORK_TLS_DOMAIN_NAME_OVERRIDE=carl.opendut.local  # default developer certificate is only valid for localhost
      - OPENDUT_EDGAR_NETWORK_OIDC_ENABLED=true
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_ID=opendut-edgar-client
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_ISSUER_URL=https://auth.opendut.local/realms/opendut/
      - OPENDUT_EDGAR_NETWORK_OIDC_CLIENT_SCOPES=
      - OPENDUT_EDGAR_OPENTELEMETRY_ENABLED=true
      - OPENDUT_EDGAR_OPENTELEMETRY_COLLECTOR_ENDPOINT=http://otel-collector:4317

      # testenv
      - OPENDUT_EDGAR_REPLICAS
      - OPENDUT_EDGAR_SERVICE_USER=root
      # Rust backtrace
      - RUST_BACKTRACE=1

    deploy:
      mode: replicated
      # edgar replica count (e.g. 3)
      replicas: ${OPENDUT_EDGAR_REPLICAS}
    networks:
      - opendut_local

networks:
  opendut_local:
    name: local
    external: true  # Use a pre-existing network
