name: build
on:
  workflow_dispatch:  # manual trigger
    inputs:
      run-testenv:
        description: "Run test environment if 'true'"
        required: false
        type: string
        default: "false"
  pull_request:
    types: [ opened, reopened, synchronize, edited, ready_for_review ]
  push:
    branches: [ "**" ]
    tags-ignore:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-*
      - canary
    paths-ignore:
      - ".ci/kubernetes/**"
      - "doc/**"

defaults:
  run:
    shell: bash  # turns on pipefail in all run-blocks: https://github.com/actions/runner-images/issues/4459#issuecomment-1374859960

env:
  RUST_BACKTRACE: 1

# Required GitHub repository variables:
# https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job
# OPENDUT_GH_RUNNER_SMALL: runner labels for small jobs
# OPENDUT_GH_RUNNER_LARGE: runner labels for large jobs

jobs:
  legal:
    uses: ./.github/workflows/job-legal.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"

  generate-sbom:
    uses: ./.github/workflows/job-sbom.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"

  test:
    uses: ./.github/workflows/job-test.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  integration-test:
    uses: ./.github/workflows/job-integration-test.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  lint-viper-rt:
    uses: ./.github/workflows/job-lint-viper-rt.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-carl:
    uses: ./.github/workflows/job-build-carl.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-cleo:
    uses: ./.github/workflows/job-build-cleo.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-theo:
    uses: ./.github/workflows/job-build-theo.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-edgar:
    uses: ./.github/workflows/job-build-edgar.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-lea:
    uses: ./.github/workflows/job-build-lea.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-edgar:
    needs: [ legal, build-edgar ]
    uses: ./.github/workflows/job-bundle-edgar.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-cleo:
    needs: [ legal, build-cleo ]
    uses: ./.github/workflows/job-bundle-cleo.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-carl:
    needs: [ legal, build-carl, build-lea, bundle-cleo, bundle-edgar ]
    uses: ./.github/workflows/job-bundle-carl.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  status-check:
    needs: [ legal, test, integration-test ]
    runs-on: "${{ fromJson(vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]') }}"
    steps:
    - run: echo "Minimum required jobs for merging the pull request have completed."

  run-testenv:
    uses: ./.github/workflows/job-run-testenv.yaml
    needs: [ build-theo, bundle-carl, bundle-edgar, bundle-cleo ]
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"
      # run-testenv: "${{ github.event.inputs.run-testenv }}"
      run-testenv: "true"
    secrets: inherit
