name: homepage
on:
  workflow_dispatch:  # manual trigger
  push:
    branches: [ "main" ]
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-*
    paths-ignore:
      - ".ci/kubernetes/**"

defaults:
  run:
    shell: bash  # turns on pipefail in all run-blocks: https://github.com/actions/runner-images/issues/4459#issuecomment-1374859960


env:
  RUST_BACKTRACE: 1

jobs:
  homepage:
    uses: ./.github/workflows/job-homepage.yaml
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"
