name: lint-viper-rt  # VIPER RT has many feature flags, which can lead to dead code warnings that we want to avoid.
on:
  workflow_call:  # allow this workflow to be called from other workflows
    inputs:
      runs-on:
        default: "['ubuntu-latest']"
        required: false
        type: string

defaults:
  run:
    shell: bash  # turns on pipefail in all run-blocks: https://github.com/actions/runner-images/issues/4459#issuecomment-1374859960

jobs:
  test:
    name: Lint VIPER-RT
    runs-on: ${{ fromJson(inputs.runs-on) }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #4.1.5

      - name: Rust setup
        uses: ./.github/actions/rust-setup

      - name: Run linter with default features
        run: cargo clippy --package opendut-viper-rt -- --deny warnings

      - name: Run linter with all features
        run: cargo clippy --package opendut-viper-rt --all-features -- --deny warnings
