name: test
on:
  workflow_call:  # allow this workflow to be called from other workflows
    inputs:
      runs-on:
        default: "['ubuntu-latest']"
        required: false
        type: string

defaults:
  run:
    shell: bash  # turns on pipefail in all run-blocks: https://github.com/actions/runner-images/issues/4459#issuecomment-1374859960

jobs:
  test:
    name: Test and Verify
    runs-on: ${{ fromJson(inputs.runs-on) }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #4.1.5
      - name: Rust setup
        uses: ./.github/actions/rust-setup
        with:
          cargo-tarpaulin: true

      - name: Free up disk space, to avoid running out mid-build
        uses: endersonmenezes/free-disk-space@713d134e243b926eba4a5cce0cf608bfd1efb89a #2.1.1
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true

      - name: Test with Coverage
        run: cargo ci coverage

      - name: Run integration test
        run: cargo ci integration-test

      - name: Upload coverage artifact
        uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8
        with:
          name: opendut-coverage
          path: ./target/ci/coverage/
          if-no-files-found: error
          retention-days: 30
