name: release
on:
  workflow_dispatch:  # manual trigger
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+
    - v[0-9]+.[0-9]+.[0-9]+-*
    - canary
    - canary-*

# Required GitHub repository variables:
# https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job
# OPENDUT_GH_RUNNER_SMALL: runner labels for small jobs
# OPENDUT_GH_RUNNER_LARGE: runner labels for large jobs

jobs:
  legal:
    uses: ./.github/workflows/job-legal.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"

  generate-sbom:
    uses: ./.github/workflows/job-sbom.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"

  test:
    uses: ./.github/workflows/job-test.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-carl:
    uses: ./.github/workflows/job-build-carl.yaml
    needs: [ test ]
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-cleo:
    uses: ./.github/workflows/job-build-cleo.yaml
    needs: [ test ]
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-edgar:
    uses: ./.github/workflows/job-build-edgar.yaml
    needs: [ test ]
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  build-lea:
    uses: ./.github/workflows/job-build-lea.yaml
    needs: [ test ]
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-edgar:
    needs: [ legal, build-edgar ]
    uses: ./.github/workflows/job-bundle-edgar.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-cleo:
    needs: [ legal, build-cleo ]
    uses: ./.github/workflows/job-bundle-cleo.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  bundle-carl:
    needs: [ legal, build-carl, build-lea ]
    uses: ./.github/workflows/job-bundle-carl.yaml
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_LARGE || '[\"ubuntu-latest\"]' }}"

  publish-release:
    needs: [ bundle-carl, bundle-cleo, bundle-edgar, generate-sbom ]
    uses: ./.github/workflows/job-publish-release.yaml
    permissions:
      contents: write
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"

  publish-docker:
    needs: [ bundle-carl ]
    uses: ./.github/workflows/job-publish-docker.yml
    permissions:
      contents: write
      packages: write
    with:
      runs-on: "${{ vars.OPENDUT_GH_RUNNER_SMALL || '[\"ubuntu-latest\"]' }}"
